<mat-toolbar color="primary">Angular Material example</mat-toolbar>

<div style="padding: 12px;">

  <div>
    <h3>ngModel</h3>
    <mat-form-field>
      <mat-label>Country</mat-label>
      <ngx-countries-autocomplete [disabled]="false" [(ngModel)]="country"></ngx-countries-autocomplete>
    </mat-form-field>

    <span>{{country}}</span>
  </div>

  <div>
    <h3>Reactive form</h3>
    <form [formGroup]="form">
      <mat-form-field>
        <mat-label>Country</mat-label>
        <ngx-countries-autocomplete 
          formControlName="country" 
          required="true" 
          [optionTemplate]="optionTemplate" 
          [displayItemFn]="displayFn">
        </ngx-countries-autocomplete>

        <ng-template #optionTemplate let-code>
          {{displayFn(code)}}
        </ng-template>
      </mat-form-field>
      <span>{{form.get('country').value}}</span>
    </form>
  </div>
</div>