<div style="padding: 12px;">
  <form>
    <h3>ngModel</h3>
    <mat-form-field>
      <mat-label>Country</mat-label>
      <ngx-countries-autocomplete name="country" [(ngModel)]="country"></ngx-countries-autocomplete>
    </mat-form-field>
    <span>{{country}}</span>
  </form>

  <form [formGroup]="form">
    <h3>Reactive form</h3>
    <mat-form-field>
      <mat-label>Country</mat-label>
      <ngx-countries-autocomplete formControlName="country"></ngx-countries-autocomplete>
    </mat-form-field>
    <mat-error *ngIf="form.get('country').invalid">Invalid</mat-error>
    <span>{{form.value | json}}</span>
  </form>

  <ng-template #optionTemplate let-code>
    {{myDisplayFn(code)}}
  </ng-template>
</div>